body 
{
    background-color: #6597a7;
    background-image:url('https://i.ibb.co/2qpDN7S/fondocoet.jpg');
   
}h1
 {
     color: hsl(180, 9%, 96%);
     text-align: center;

}h2,h3,h4,h5,h6{
    color: hsl(180, 9%, 96%);

}p 
{
    color: #4de44dcc;
    font-family: verdana;
    font-size: 20px;
}
button
{ 
    color: rgb(35, 12, 88);
    background-color: #bceef1;
}
/*.fixed-header{
  position: fixed;
  background-color: aliceblue;
  top: 0;
  right 0;*/
 /* main {
    margin-top: 285px;
    text-align: center;
  }*/
.header {
   /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
    background: rgb(188, 186, 190);
    margin: 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;

}
li {
    display:inline;
       /* margin-right: 25px;
    margin-left: 25px;*/
}
.logo{
  width: 15%;
}
.logo > img {
height: 100%;
}

/*------------barra de navegaciaon----------------*/
/*.navbar{
  width: 60%;
  text-align: center;
  color: #025157;
}
.navbar ul {
margin: 0;
padding: 0;
list-style: none;
}
.navbar ul li {
display: inline-block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
} 
.navbar ul li:hover {
background:#343434;
}*/
.menu-item {
display: inline;
margin-right: 25px;
margin-left: 25px;
}
.actions{
  width: 15%;
  text-align: right;
  font-size: 14px;

}
.actions > * {
margin-right: 10px;
margin-left: 10px;
}
.actions a {
color: #67b54b;
}
.actions button{
  color: white;
  background-color: #67b54b;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

/*------------------Video y contenido------------------*/
.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  justify-content: center;
}
.Video{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.Video img {
  width: 120px;
  margin-top: 10px;
}
.publish {
  /* container styles if any */
  margin-left: 20px;
  justify-content: flex-start;
  align-items: center;
}
 .publish h2 {
  margin-left: 20px;
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-left: 30%;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}



 /*--------------- contenido articulo-------------------*/
.advertising{
  background: #12b355;
 display: flex;
 align-items: center;
 justify-content: space-around;
 padding: 5% 15%;


}
.advertising .commercial{
  flex: 2;
  padding-right: 100px;
}
.advertising .commercial button{
  background-color: rgb(17, 77, 69);
  color: whitesmoke;
  font-size: 14px;
   padding: 12px 12px 6px 12px;
   border-radius: 8px;
   height: 45px;
   font-weight: 600;
   margin-left: 0;
}
.advertising .commercial h3 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}
.publicidad .commercial p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.advertising .commercial img {
  width: 500px;
  max-width: 100%;
}
.advertising .stories-carousel {
  flex: 1;
}

.advertising .stories-carousel .carousel-indicators {
  position: unset;
}

.advertising .stories-carousel .card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.advertising .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.advertising .stories-carousel .card .card-media figure {
  margin-top: 0;
}

.advertising .stories-carousel .card .card-media {
  position: relative;
}

.advertising .stories-carousel .card .card-media .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertising .stories-carousel .card .card-media .company img {
  max-width: 75%;
}

.advertising .stories-carousel .card .card-body,
.advertising .stories-carousel .card .card-footer {
  padding: 25px;
}

.advertising .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.advertising .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.advertising .stories-carousel .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.advertising .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.advertising .stories-carousel .card .card-body .results p {
  margin-top: 0;
}

.advertising .stories-carousel .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.advertising .stories-carousel .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}


.how-does-it-work {
  background-color: #fffbf7;
  padding: 5% 10%;
  text-align: center;
}

.how-does-it-work .title {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Alegreya", serif;
  margin-bottom: 8px;
}

.how-does-it-work .description {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.how-does-it-work .description a {
  color: #67b54b;
  text-decoration: none;
}

.how-does-it-work button {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
}

/*--------------Prework2------------------------------*/
.how-does-it-work .steps {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-does-it-work .steps .card-step {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.how-does-it-work .steps .card-step .card-step-image {
  position: relative;
  height: 350px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
  width: 100%;
  height: 100%;
}

.how-does-it-work .steps .card-step .card-step-body {
  padding: 25px;
}

.how-does-it-work .steps .card-step .card-step-body h3 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Alegreya", serif;
  color: #025157;
  font-weight: 400;
  text-align: center;
}

.how-does-it-work .steps .card-step .card-step-body p {
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  height: 85px;
  margin-bottom: 16px;
}

.how-does-it-work .steps .card-step .card-step-body a {
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

/*---------------Carts-------------------*/
.features{
  display: grid;
  /*grid-template-columns: 100px 300px;*/
  grid-template-columns: 1fr 1fr;
}
.feature-art{
  background-color: #6597a7;
  margin: 10px;
  width: 40%;
  height: 50px;
}
.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}
.carousel-item{
  max-height:100% ;
  height: 450px;
}
.col mb-4 .card{
  max-height:100% ;
  height: 450px;
}
/** ----dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
 /* .navbar, .actions{
     display: none;
  }*/
  h1{
    font-size: 30px;
   /* Reto 2*/
  }
  main{
  margin-top: 120px;
}
.banner>img
{
  width: 100%;
}

/*Reto 3*/
.publish > form {
  flex-direction: column;
}

.publish > form > div {
  height: 45px;
  margin-top: 10px;
}

.publish > form > div > input {
  width: 70%;
}
.promo {
  flex-direction: column;
  max-width: 90%;
}

.explanatory-video > video {
  width: 100%;
}

.publish {
  margin-top: 10px;
}

.publish > h3 {
  font-size: 25px;
  line-height: 1.2;
}
/*Reto 4*/
.features {
  grid-template: repeat(4, 1fr) / 1fr;
  padding-left:0px;
  padding-right:0px;
}

.feature-image {
  display: none;
}
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}

/* }
.slider ul{
  padding: 20px;
  display: flex;
  width: 200%;
  animation: cambio 20s infinite;
  vertical-align: middle;
  border-style: none;
}
.slider li{
  width: 100%;
  list-style: none;
  
}
.slider img{
  width: 100%;
  
}
@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
}*/